/*! HTML5 Boilerplate v7.0.1 | MIT License | https://html5boilerplate.com/ */

/* main.css 1.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */


/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
  Author's custom styles
  ========================================================================== */

/* Struttura di base */


html, body {
    height: 100%;
    margin: 0;
    background-color: #0c0c1b;
    color: white;
    font-family: 'Play', sans-serif;
}


#page-container {
    position: absolute;
    text-align: center;
    height: 100%;
    margin: 0;
    width: 100%;
}


@media only screen and (min-width: 768px) {
    #page-container {
        position: absolute;
        left: 0;
        right: 0;
        margin: 0 auto;
        text-align: center;
        width: 768px;
        height: 100%;
    }
}


#wrapper {
    min-height: 100%;
    margin-bottom: -60px;
}


#push {
    height: 60px;
}


#header-container {
    padding-top: 20px;
    padding-bottom: 30px;
    width: 90%;
    margin: 0 auto;
}


#page-body-container {
    width: 90%;
    margin: 0 auto;
    padding-top: 20px;
}


#footer-container {
    height: 60px;
    position: relative;
    width: 90%;
    margin: 0 auto;
}

/*
@media only screen and (min-width: 425px) {
    #footer-container {
        width: 375px;
    }
}*/


#footer-content {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
}


.footer-icons {
    color: white;
    margin-right: 10px;
    vertical-align: middle;
}


.footer-icons:hover {
    cursor: pointer;
}


.icons-margin {
    color: white;
    margin: 10px;
    vertical-align: middle;
}


.footer-component-left {
    float: left;
    width: 39%;
    text-align: left;
    padding-left: 1%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


.footer-component-right {
    float: right;
    text-align: right;
    width: 59%;
    padding-right: 1%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


h1 {
    font-size: 60px;
    font-family: 'Baloo Chettan', cursive;
    margin: 0;
}


h2 {
    font-size: 30px;
    margin: 0;
}


a {
    color: White;
}

button {
    border: none;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
    border-radius: 8px;
    transition-duration: 0.2s;
    outline: none;
    -webkit-tap-highlight-color: Transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

button:hover {
    outline: none;
    -webkit-tap-highlight-color: Transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
}


input[type=text], input[type=email], input[type=password], input[type=number] {
    width: 90%;
    padding: 12px 20px;
    margin: 0 auto;
    font-size: 20px;
    box-sizing: border-box;
    border-radius: 4px;
}


@media only screen and (min-width: 340px) {
    input[type=text], input[type=email], input[type=password], input[type=number] {
        width: 280px;
    }
}


ul.menu-list {
    padding: 0;
    margin: 0;
}


li.menu-list-element {
    list-style-type: none;
    margin-bottom: 10px;
}


button.menu-button {
    background-color: Transparent;
    color: white;
    font-size: 30px;
    margin-bottom: 5px;
}


button.menu-button:hover {
    color: #818387;
}


.disabled-menu-button-text {
    border: none;
    color: #66686c;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
}


.chat-container-aftermatch {
    width: 100%;
    overflow: auto;
}

.chat-container-mmaking {
    width: 100%;
    margin: 20px auto 0 auto;
    overflow: auto;
}

.chat-hint-container, .chat-bubbles-container {
    width: 100%;
    height: 120px;
    margin: 10px 0;
    box-sizing: border-box;
    border-style: solid;
    border-width: 1px;
    border-radius: 8px;
    border-color: White;
    display: inline-block;
    background-color: rgba(255, 255, 255, 0.11);
    overflow: scroll;
}


#chat-bubbles-sub-container, #chat-hints-sub-container {
    width: 100%;
    box-sizing: border-box;
}




@media only screen and (min-width: 716px) {
    .chat-hint-container, .chat-bubbles-container {
        width: 300px;
        margin: 10px;
    }
}

.chat-hint-container {
    padding: 10px 10px 0 10px;
}


.chat-bubbles-container {
    padding: 10px 0;
}


button.chat-hint {
    margin: 10px;
    float: left;
    padding: 10px;
    background-color: white;
    box-sizing: border-box;
    overflow: hidden;
    white-space: nowrap;
}


button.chat-hint:hover {
    background-color: #818387;
}


.chat-bubble-container {
    width: 100%;
    overflow: auto;
    margin: 10px auto 0 auto;
}

.chat-bubble-player, .chat-bubble-enemy {
    width: 180px;
    box-sizing: border-box;
    margin: 0;
    border-radius: 8px;
    color: white;
    padding: 10px 20px;
    text-align: center;
    position: relative;
}


.chat-bubble-player {
    float: left;
    margin-left: 20px;
    background-color: #48af9b;
}


.chat-bubble-enemy {
    float: right;
    margin-right: 20px;
    background-color: #ba793a;
}


.chat-bubble-enemy:before {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    border-left: 15px solid #ba793a;
    border-right: 15px solid transparent;
    border-top: 15px solid #ba793a;
    border-bottom: 15px solid transparent;
    right: -16px;
    top: 0;
}


.chat-bubble-player:before {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    border-left: 15px solid transparent;
    border-right: 15px solid #48af9b;
    border-top: 15px solid #48af9b;
    border-bottom: 15px solid transparent;
    left: -16px;
    top: 0;
}


.modal-button-container {
    text-align: right;
    padding-top: 10px;
}


button.modal-button-primary, button.modal-button-secondary {
    margin-left: 5px;
    padding: 10px 20px;
}


button.modal-button-primary {
    color: White;
    background-color: #bc241c;
}


button.modal-button-primary:hover {
    background-color: #bf4a44;
}


button.modal-button-secondary {
    color: Black;
    background-color: Transparent;
}


button.modal-button-secondary:hover {
    background-color: rgba(85, 113, 233, 0.11);
}


.modal-container {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}


.modal-content {
    background-color: #ffffff;
    color: Black;
    margin: 20% auto;
    padding: 20px;
    font-size: 20px;
    border-radius: 8px;
    width: 80%;
}


@media only screen and (min-width: 780px) {
    .modal-content {
        width: 40%;
    }
}


.ellipsize {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


.capitalize {
    display: block;
    text-align: center;
    margin: 0 auto;
}


.capitalize:first-letter {
    text-transform: capitalize;
}


.big-text {
    font-size: 60px;
    font-family: 'Baloo Chettan', cursive;
    margin: -20px;
}


.override-container {
    width: 100%;
    margin: 0 auto;
    position: relative;
}


.override-component {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
}


/* Stili splash */


#splash-link {
    text-decoration: none;
    color: white;
}


#body-splash {
    padding-top: 80px;
    padding-bottom: 30px;
    width: 90%;
    margin: 0 auto;
}


#wrapper-splash {
    min-height: 100%;
    margin-bottom: -120px;
}


#push-splash {
    height: 120px;
}


#footer-container-splash {
    height: 120px;
    position: relative;
    width: 90%;
    margin: 0 auto;
}


#footer-content-splash {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
}


.splash-logo {
    width: 100px;
    height: 100px;
}


.splash-hint {
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
}


#page-body-container-home {
    width: 90%;
    margin: 0 auto;
}


/* Stili matchmaking */


.pmmaking-height {
    height: 800px;
}


.nickform {
    margin-top: 20px;
}


.selector {
    width: 90%;
    height: 50px;
    margin: 0 auto;
    border-style: solid;
    border-width: 1px;
    border-radius: 4px;
    border-color: White;
}


@media only screen and (min-width: 340px) {
    .selector {
        width: 280px;
    }
}


.selector-button {
    width: 19%;
    height: 100%;
    text-align: center;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    float: left;
    margin: 0;
    transition-duration: 0.2s;
    background-color: transparent;
}


.selector-button:hover {
    transition-duration: 0.2s;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.09);
}


.selector-text {
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    float: left;
    border-left: solid 1px;
    border-right: solid 1px;
    border-color: White;
}


.copyable-container-primary-text {
    border: none;
    color: White;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
}


.copyable-container-secondary-text {
    color: white;
    font-size: small;
    vertical-align: middle;
    margin-top: 5px;
}


.copyable-container-icon {
    color: white;
    font-size: small;
    margin-right: 5px;
    vertical-align: middle;
}


.copyable-container {
    width: 90%;
    margin: 10px auto 20px;
    padding: 10px;
    text-align: center;
    border-style: solid;
    border-width: 1px;
    border-radius: 4px;
    border-color: White;
    transition-duration: 0.2s;
    background-color: transparent;
}


.copyable-container:hover {
    transition-duration: 0.2s;
    background-color: rgba(255, 255, 255, 0.09);
}


@media only screen and (min-width: 340px) {
    .copyable-container {
        width: 280px;
    }
}


/* Stili match */


.cc-container-group {
    width: 90%;
    margin: 0 auto 20px;
}


.cc-container {
    width: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    font-size: 20px;
}


.centered-column {
    float: left;
    width: 50%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


.timer-icon {
    color: white;
    margin-right: 5px;
    vertical-align: middle;
}


.timer-icon-stop {
    color: red;
    margin-right: 5px;
    vertical-align: middle;
}


.timer-stop {
    color: red;
}


.arrow-cell {
    max-height: 90%;
    max-width: 90%;
    margin: 0 auto;
    color: white;
}


.arrow-cell-over {
    max-height: 90%;
    max-width: 90%;
    margin: 0 auto;
    color: yellow;
}


.playground-container {
    width: 100%;
    height: 280px;
    margin: 0 auto;
    padding-bottom: 20px;
    position: relative;
}


/* Fissa la dimensione degli inputbox per dispositivi di schermo maggiore del mobile */
@media only screen and (min-width: 320px) {
    .playground-container {
        width: 280px;
    }
}


.playground-table {
    width: 100%;
    table-layout: fixed;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    margin: 0 auto;
}


@media only screen and (min-width: 320px) {
    .playground-table {
        width: 280px;
    }
}


.ccomponents-container {
    width: 100%;
}


.centered-component {
    margin: 0 auto;
    text-align: center;
}


.match-height {
    height: 520px;
}


.match-container {
    width: 100%;
    margin: 0 auto;
    position: relative;
}


.match-component {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
}


.roby-draggable {
    width: 100px;
    height: 100px;
    max-width: 100px;
    max-height: 100px;
}


.roby-positioned {
    width: 36px;
    height: 36px;
    position: absolute;
    left: 0;
    top: 0;
}


.start-countdown {
    font-size: 60px;
    font-family: 'Baloo Chettan', cursive;
    width: 100%;
    text-align: center;
    margin-top: 60px;
}


.red-play-tile {
    width: 100%;
    padding-bottom: 100%;
    background-color: #bc241c;
    border-radius: 4px;
}


.placeholder-tile {
    width: 100%;
    padding-bottom: 100%;
    border-radius: 4px;
}


.yellow-play-tile {
    width: 100%;
    padding-bottom: 100%;
    background-color: #efd10b;
    border-radius: 4px;
}


.gray-play-tile {
    width: 100%;
    padding-bottom: 100%;
    background-color: #bababa;
    border-radius: 4px;
}


/* Aftermatch */



.aftermatch-stats {
    width: 100%;
    margin: 20px 0 10px 0;
    box-sizing: border-box;
    border-style: solid;
    border-width: 1px;
    border-radius: 8px;
    border-color: White;
    display: inline-block;
    background-color: rgba(255, 255, 255, 0.11);
    padding: 10px;
    overflow: auto;
}


@media only screen and (min-width: 716px) {
    .aftermatch-stats {
        width: 620px;
    }
}

.aftermatch-stats-line {
    margin: 10px 0 0 0;
}




.aftermatch-winner {
    margin-bottom: 20px;
}

.stats-header {

}

.white-icon {
    color: white;
}

.player-text-style {
    color: #48af9b;
}

.enemy-text-style {
    color: #ba793a;
}


.robot-aftermatch {
    width: 30px;
    height: 30px;
    transform: rotate(90deg);
}


.lowaftermatch-component {
    margin-top: 20px;
}


.aftermatch-height {
    height: 400px;
}


/* Spinner */


.lds-grid {
    margin-top: 20px;
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px;
}


.lds-grid div {
    position: absolute;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: #fff;
    animation: lds-grid 1.2s linear infinite;
}


.lds-grid div:nth-child(1) {
    top: 6px;
    left: 6px;
    animation-delay: 0s;
}


.lds-grid div:nth-child(2) {
    top: 6px;
    left: 26px;
    animation-delay: -0.4s;
}


.lds-grid div:nth-child(3) {
    top: 6px;
    left: 45px;
    animation-delay: -0.8s;
}


.lds-grid div:nth-child(4) {
    top: 26px;
    left: 6px;
    animation-delay: -0.4s;
}


.lds-grid div:nth-child(5) {
    top: 26px;
    left: 26px;
    animation-delay: -0.8s;
}


.lds-grid div:nth-child(6) {
    top: 26px;
    left: 45px;
    animation-delay: -1.2s;
}


.lds-grid div:nth-child(7) {
    top: 45px;
    left: 6px;
    animation-delay: -0.8s;
}


.lds-grid div:nth-child(8) {
    top: 45px;
    left: 26px;
    animation-delay: -1.2s;
}


.lds-grid div:nth-child(9) {
    top: 45px;
    left: 45px;
    animation-delay: -1.6s;
}


@keyframes lds-grid {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
}


/* Animations */


.floating-up-component {
    transform: translateX(0px);
    animation: float-top 4s ease-in-out infinite;
}


@keyframes float-top {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0px);
    }
}


.floating-right-component {
    transform: translateY(0px);
    animation: float-right 4s ease-in-out infinite;
}


@keyframes float-right {
    0% {
        transform: translateX(0px);
    }
    50% {
        transform: translateX(10px);
    }
    100% {
        transform: translateY(0px);
    }
}


.floating-left-component {
    transform: translateX(0px);
    animation: float-left 4s ease-in-out infinite;
}


@keyframes float-left {
    0% {
        transform: translateX(0px);
    }
    50% {
        transform: translateX(-10px);
    }
    100% {
        transform: translateY(0px);
    }
}


.floating-down-component {
    transform: translateY(0px);
    animation: float-bottom 4s ease-in-out infinite;
}


@keyframes float-bottom {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(10px);
    }
    100% {
        transform: translateY(0px);
    }
}


.flashing-component {
    animation: flash 2s ease-in-out infinite;
}


@keyframes flash {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.4;
    }
    100% {
        opacity: 1;
    }
}


/* AngularJS cross-page animations */


.ng-enter {
    animation: fadein 0.2s both ease-in;
    z-index: 8888;
}


.ng-leave {
    animation: fadeout 0.2s both ease-in;
    z-index: 9999;
}


@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


@keyframes fadeout {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}


/*
.ng-show {
    animation: fadein 0.2s both ease-in;
    z-index: 8888;
}


.ng-hide {
    animation: fadeout 0.2s both ease-in;
    z-index: 9999;
}
*/


/* ==========================================================================
  Helper classes
  ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
* Hide only visually, but have it available for screen readers:
* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*
* 1. For long content, line feeds are not interpreted as spaces and small width
*    causes content to wrap 1 word per line:
*    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
*/

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
* Extends the .visuallyhidden class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638
*/

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
* Hide visually and from screen readers, but maintain layout
*/

.invisible {
    visibility: hidden;
}

/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}


/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 1.25dppx),
(min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}


/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster */
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */
    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}


