<div id="wrapper">
  <div id="page-body-container">    
    <div class="playhead-container"> 
    <div class="playhead">
      <div class="playhead-component">
        <p class="points">20</p>
      </div>

      <div class="playhead-component">
       <p class="points">34</p>
      </div>
    </div>

    <div class="playhead">
      <div class="playhead-component">
        Nome giocatore 1
      </div>

      <div class="playhead-component">
        Nome gioc. 2
      </div>
    </div>
    </div>
  
    <h2>Vince giocatore 1!</h2>


    <table id="aftermatch-table">
  <tr>
    <th class="aftermatch-cell"></th>
    <th class="aftermatch-cell">Lunghezza</th> 
    <th class="aftermatch-cell">Tempo</th>
     <th class="aftermatch-cell">Partenza</th>
      <th class="aftermatch-cell">Punteggio</th>
  </tr>
  <tr>
    <td class="aftermatch-cell">Giocatore 1</td>
    <td class="aftermatch-cell">24</td> 
    <td class="aftermatch-cell">20.32</td> 
    <td class="aftermatch-cell">D3</td>
    <td class="aftermatch-cell">10</td>
  </tr>
  <tr>
    <td class="aftermatch-cell">Giocatore 2</td>
    <td class="aftermatch-cell">18</td> 
    <td class="aftermatch-cell">14.23</td> 
    <td class="aftermatch-cell">A1</td>
    <td class="aftermatch-cell">23</td>
  </tr>
</table>

      <ul>
        <li><a href="#!match" class="menu-link">Continua partita</a></li>
      </ul>





  </div>
  
  <div id="push"></div>
</div>

<div id="footer-container">
  <div id="footer-content"> 
      <div class="footer-component-left"><a href="#!home"><i class="fa fa-times fa-2x icons"></i></a></div>
      <div class="footer-component-right"> <i class="far fa-user-circle fa-2x icons"></i>Non loggato</div>
</div>
