<div id="wrapper">
  <div id="page-body-container">    
    <form class="form-login">
      <ul>
        <li>Schermata da terminare. Viene visualizzata al termine di ogni partita. Mostra il punteggio aggregato della serie, alcune statistiche post partita e dà agli utenti la possibilità di continuare la serie di partite.</li>
        <li><a href="#home" class="menu-link">Continua la partita</a></li>
      </ul>
    </form>
  </div>
  
  <div id="push"></div>
</div>

<div id="footer-container">
  <div id="footer-content"> 
      <div class="footer-component-left"><a href="#home"><i class="fa fa-times fa-2x icons"></i></a></div>
      <div class="footer-component-right"> <i class="far fa-user-circle fa-2x icons"></i>Non loggato</div>
</div>
