<div id="wrapper">
    <div id="page-body-container" class="aftermatch-height">
        <div class="cc-container-group">
            <div class="cc-container">
                <div class="centered-column"><p class="big-text">{{playerPoints}}</p></div>
                <div class="centered-column"><p class="big-text">{{enemyPoints}}</p></div>
            </div>

            <div class="cc-container">
                <div class="centered-column">{{playerNickname}}</div>
                <div class="centered-column">{{enemyNickname}}</div>
            </div>
        </div>

        <h2 class="capitalize">{{winner}} vince la {{matchCount}}° partita!!</h2>

        <table id="aftermatch-table">
            <tr>
                <th class="aftermatch-cell"></th>
                <th class="aftermatch-cell"><i class="fas fa-shoe-prints icon-aftermatch"></i></th>
                <th class="aftermatch-cell"><i class="far fa-clock icon-aftermatch"></i></th>
                <th class="aftermatch-cell"><i class="fas fa-robot icon-aftermatch"></i></th>
            </tr>
            <tr>
                <td class="aftermatch-cell"><img src="img/roby-walking-1.png" alt="player icon"
                                                 class="robot-aftermatch"/></td>
                <td class="aftermatch-cell">{{results.playerResult.loop ? 'Loop!' : results.playerResult.length}}</td>
                <td class="aftermatch-cell">{{formattedPlayerTime}}</td>
                <td class="aftermatch-cell">{{results.playerResult.points}}</td>
            </tr>
            <tr>
                <td class="aftermatch-cell"><img src="img/enemy-walking-1.png" alt="enemy icon"
                                                 class="robot-aftermatch"/></td>
                <td class="aftermatch-cell">{{results.enemyResult.loop ? 'Loop!' : results.enemyResult.length}}</td>
                <td class="aftermatch-cell">{{formattedEnemyTime}}</td>
                <td class="aftermatch-cell">{{results.enemyResult.points}}</td>
            </tr>
        </table>

        <div class="override-container">
            <div ng-hide="newMatchClicked" class="override-component lowaftermatch-component">
                <button ng-click="newMatch()">Gioca ancora</button>
                <p ng-show="enemyRequestNewMatch" class="flashing-component">Il tuo avversario vuole continuare a giocare!</p>
            </div>
            <div ng-show="newMatchClicked" class="override-component lowaftermatch-component">
                <p class="flashing-component">Attendi che l'avversario confermi la sua partecipazione…</p>
            </div>
        </div>
    </div>

    <div id="push"></div>
</div>

<div id="footer-container">
    <div id="footer-content">
        <div class="footer-component-left">
            <i class="fas fa-sign-out-alt fa-2x footer-icons" ng-click="exitGame()"></i>
            <i class="fas fa-2x footer-icons" ng-class="basePlaying ?  'fa-volume-up' : 'fa-volume-mute'"
               ng-click="toggleBase()"></i>
        </div>
        <div class="footer-component-right"><i class="far fa-user-circle fa-2x footer-icons"></i>Non loggato</div>
    </div>
</div>
