<div id="wrapper">
    <div id="page-body-container">
        <div class="cc-container-group" ng-show="withEnemy">
            <div class="cc-container">
                <div class="centered-column">
                    <p class="big-text">{{playerPoints}}</p>
                </div>

                <div class="centered-column">
                    <p class="big-text">{{enemyPoints}}</p>
                </div>
            </div>

            <div class="cc-container">
                <div class="centered-column">
                    {{playerNickname}}
                </div>

                <div class="centered-column">
                    {{enemyNickname}}
                </div>
            </div>
        </div>

        <div class="cc-container-group" ng-hide="withEnemy">
            <p class="big-text">{{playerPoints}}</p>
            {{playerNickname}}
        </div>

        <h2 class="capitalize aftermatch-winner" ng-show="withEnemy">{{winner}} vince la {{matchCount}}° partita!!</h2>

        <div id="aftermatch-options" class="ccomponents-container">
            <div class="centered-component lowaftermatch-component">
                <button class="menu-button flashing-component" ng-click="newMatch()">
                    Gioca ancora <i class="fas fa-angle-double-right floating-right-component"></i>
                </button>
            </div>
        </div>

        <div class="aftermatch-stats">
            <span class>Stats partita</span>
            <p class="aftermatch-stats-line"><i class="fas fa-shoe-prints"></i> Passi effettuati:
                <span class="player-text-style">
                    {{playerLength}}
                </span>
                <span ng-show="withEnemy">-</span>
                <span class="enemy-text-style" ng-show="withEnemy">
                    {{enemyLength}}
                </span>
            </p>
            <p class="aftermatch-stats-line"><i class="far fa-clock"></i> Tempo impiegato:
                <span class="player-text-style">
                    {{formattedPlayerTime}}
                </span>
                <span ng-show="withEnemy">-</span>
                <span class="enemy-text-style" ng-show="withEnemy">
                    {{formattedEnemyTime}}
                </span>
            </p>
            <p class="aftermatch-stats-line"> <i class="fas fa-robot"></i> Punti:
                <span class="player-text-style">
                   {{playerMatchPoints}}
                </span>
                <span ng-show="withEnemy">-</span>
                <span class="enemy-text-style" ng-show="withEnemy">
                    {{enemyMatchPoints}}
                </span>
            </p>
        </div>
    </div>

    <div id="push"></div>
</div>

<div id="footer-container">
    <div id="footer-content">
        <div class="footer-component-left">
            <i class="fas fa-sign-out-alt fa-2x footer-icons" ng-click="exitGame()"></i>
            <i class="fas fa-2x footer-icons" ng-class="basePlaying ?  'fa-volume-up' : 'fa-volume-mute'"
               ng-click="toggleBase()"></i>
        </div>
        <div class="footer-component-right"><i class="far fa-user-circle fa-2x footer-icons"></i>Non loggato</div>
    </div>
</div>


<div id="exitGameModal" class="modal-container" ng-show="exitGameModal">
    <div class="modal-content">
        <p>Sei sicuro di voler abbandonare la partita?</p>
        <div class="modal-button-container">
            <button class="modal-button-secondary" ng-click="stopExitGame()">Annulla</button>
            <button class="modal-button-primary" ng-click="continueExitGame()">Ok</button>
        </div>
    </div>
</div>

