<div id="wrapper">
    <div id="page-body-container">
        <div id="joinMatch" ng-show="mmakingState === 'joinMatch'" class="centered-component">
            <form name="customMatchForm">
                <ul class="menu-list">
                    <li class="menu-list-element">
                        Un tuo amico ti ha mandato il codice per unirti alla sua partita? Inseriscilo qua
                        per iniziare a giocare!
                    </li>
                    <li class="menu-list-element">
                        <input type="text" name="code" maxlength="4" ng-model="code" placeholder="Codice partita"
                               required autofocus/>
                    </li>
                    <li class="menu-list-element">
                        <button class="menu-button icons-margin"
                                ng-click="joinGame(customMatchForm.code.$viewValue)"
                                ng-disabled="customMatchForm.code.$invalid">
                            Unisciti alla partita!
                        </button>
                    </li>
                    <li class="menu-list-element"
                        ng-class="joinMessage === 'Cercando informazioni sulla partita…' ? 'flashing-component' : ''"
                        ng-show="joinMessage !== ''">
                        {{joinMessage}}
                    </li>
                </ul>
            </form>
            <ul class="menu-list">
                <li class="menu-list-element"><p>- oppure -</p></li>
                <li class="menu-list-element">
                    <button class="menu-button icons-margin"
                            ng-click="goToCreateMatch()"
                            ng-disabled="customMatchForm.nickname.$invalid">
                        Nuova partita personalizzata
                    </button>
                </li>
            </ul>
        </div>

        <div id="enemy-found" ng-show="mmakingState === 'enemyFound'" class="centered-component">
            <form name="landingMatchForm">
                <ul class="menu-list">
                    <li class="menu-list-element">
                        Benvenuto nella partita di {{enemyNickname}}! In questa partita, ogni match durerà {{totTime}}.
                        Scegli il tuo nickname e premi 'Iniziamo' per avviare la partita.
                    </li>
                    <li class="menu-list-element">
                        <input type="text" name="nickname" maxlength="22" ng-model="nickname" placeholder="Nickname" required/>
                    </li>
                    <li class="menu-list-element">
                        <button class="menu-button flashing-component" ng-click="playerReady(landingMatchForm.nickname.$viewValue)"
                                ng-disabled="landingMatchForm.nickname.$invalid">Iniziamo!
                            <i class="fas fa-angle-double-right floating-right-component"></i>
                        </button>
                    </li>
                </ul>
            </form>
        </div>

        <div id="waiting-confirm" ng-show="mmakingState === 'waitingConfirm'" class="centered-component">
            <!-- Spinner -->
            <div class="lds-grid">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
            <p class="flashing-component">Attendi che l'avversario confermi la sua partecipazione…</p>
        </div>

        <div class="chat-container-mmaking" ng-show="mmakingState === 'waitingConfirm'">
            <div class="chat-bubbles-container">
                <div class="chat-bubbles-header">Chat</div>
                <div id="chat-bubbles-sub-container" ng-repeat="bubble in chatBubbles">
                    <div class="chat-bubble-container">
                        <div ng-class="getBubbleStyle(bubble)">{{bubble.body}}</div>
                    </div>
                </div>
            </div>

            <div class="chat-hint-container">
                <div class="chat-hint-header">Invia un messaggio all'avversario</div>
                <div id="chat-hints-sub-container" ng-repeat="hint in chatHints">
                    <button class="chat-hint" ng-click="sendChatMessage(hint)">{{hint}}</button>
                </div>
            </div>
        </div>

    </div>
    <div id="push"></div>
</div>

<div id="footer-container">
    <div id="footer-content">
        <div class="footer-component-left">
            <i class="fas fa-sign-out-alt fa-2x footer-icons" ng-click="exitGame()"></i>
            <i class="fas fa-2x footer-icons" ng-class="basePlaying ? 'fa-volume-up' : 'fa-volume-mute'"
               ng-click="toggleBase()"></i>
        </div>
        <div class="footer-component-right"><i class="far fa-user-circle fa-2x footer-icons"></i>Non loggato</div>
    </div>
</div>


<div id="exitGameModal" class="modal-container" ng-show="exitGameModal">
    <div class="modal-content">
        <p>Sei sicuro di voler abbandonare la partita?</p>
        <div class="modal-button-container">
            <button class="modal-button-secondary" ng-click="stopExitGame()">Annulla</button>
            <button class="modal-button-primary" ng-click="continueExitGame()">Ok</button>
        </div>
    </div>
</div>

<div id="forceExitModal" class="modal-container" ng-show="forceExitModal">
    <div class="modal-content">
        <p>{{forceExitText}}</p>
        <div class="modal-button-container">
            <button class="modal-button-primary" ng-click="continueForceExit()">Ok</button>
        </div>
    </div>
</div>

