<div id="cmmaking" class="page">
    <div class="page--wrapper">
        <div class="page--body">
            <!-- Join match -->
            <div ng-show="mmakingState === 'joinMatch'" class="page--component">
                <form name="customMatchForm">
                    <ul class="list">
                        <li class="list--spaced-element">
                            {{ 'CMMAKING_DESC' | translate }}
                        </li>
                        <li class="list--spaced-element">
                            <input type="number" name="code" max="9999" min="0"
                                   ng-model="code" placeholder="{{'CODE' | translate}}" required autofocus/>
                        </li>
                        <li class="list--spaced-element">
                            <button class="navigation--button flashing-animation"
                                    ng-click="joinGame(customMatchForm.code.$viewValue)"
                                    ng-disabled="customMatchForm.code.$invalid">
                                {{ 'JOIN' | translate }}
                                <i class="fas fa-angle-double-right navigation--icon-in-text floating-right-animation"></i>
                            </button>
                        </li>
                        <li class="list--spaced-element"  ng-show="joinMessage !== ''"
                            ng-class="joinMessage === 'Cercando informazioni sulla partita…' ? 'flashing-component' : ''">
                            {{joinMessage}}
                        </li>
                    </ul>
                </form>
                <ul class="list">
                    <li class="list--super-spaced-element">- oppure -</li>
                    <li class="list--spaced-element">
                        <button class="navigation--button flashing-animation" ng-click="goToCreateMatch()"
                                ng-disabled="customMatchForm.nickname.$invalid">
                            <span translate="NEW_CUSTOM_MATCH"></span>
                            <i class="fas fa-angle-double-right floating-right-animation navigation--icon-in-text"></i>
                        </button>
                    </li>
                </ul>
            </div>

            <!-- Enemy found -->
            <div ng-show="mmakingState === 'enemyFound'" class="page--component">
                <form name="landingMatchForm">
                    <ul class="list">
                        <li class="list--spaced-element">
                            {{ 'MATCH_JOINED' | translate : { 'enemyNickname': enemyNickname, 'totTime': totTime } }}
                        </li>
                        <li class="list--spaced-element">
                            <input type="text" name="nickname" maxlength="22"
                                   ng-model="nickname" placeholder="{{'NICKNAME' | translate}}" required/>
                        </li>
                        <li class="list--spaced-element">
                            <button class="navigation--button flashing-animation"
                                    ng-click="playerReady(landingMatchForm.nickname.$viewValue)"
                                    ng-disabled="landingMatchForm.nickname.$invalid">Iniziamo!
                                <i class="fas fa-angle-double-right floating-right-animation navigation--icon-in-text"></i>
                            </button>
                        </li>
                    </ul>
                </form>
            </div>

            <!-- Waiting confirm -->
            <div id="waiting-confirm" ng-show="mmakingState === 'waitingConfirm'" class="page--component">
                <ul class="list">
                    <li class="list--spaced-element">
                        <div class="loading-spinner">
                            <div></div><div></div><div></div>
                            <div></div><div></div><div></div>
                            <div></div><div></div><div></div>
                        </div>
                    </li>
                    <li class="list--spaced-element">
                        <div class="flashing-animation">{{ 'ENEMY_WAIT' | translate }}</div>
                    </li>
                </ul>
            </div>

            <!-- Chat module -->
            <div class="chat" ng-show="mmakingState === 'waitingConfirm'">
                <div class="chat--bubbles-container">
                    {{ 'CHAT_TITLE' | translate }}
                    <div class="chat--bubbles-sub-container" ng-repeat="bubble in chatBubbles">
                        <div class="chat--bubble-row">
                            <div ng-class="getBubbleStyle(bubble)">{{bubble.body}}</div>
                        </div>
                    </div>
                </div>
                <div class="chat--hints-container">
                    {{ 'CHAT_SEND' | translate }}
                    <div class="chat--hints-sub-container" ng-repeat="hint in chatHints">
                        <button class="chat--hint" ng-click="sendChatMessage(hint)">{{hint}}</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="page--push"></div>
    </div>

    <!-- Footer module -->
    <div class="page--footer">
        <div class="page--footer-column-left ellipsize">
             <button class="page--footer-button" ng-click="exitGame()">
                <i class="fa  fa-times page--footer-icons"></i>
            </button>
            <button class="page--footer-button" ng-click="toggleBase()">
                <i class="page--footer-icons" ng-class="basePlaying ? 'fas fa-volume-up': 'fas fa-volume-mute'"></i>
            </button>
            <button class="page--footer-button" ng-click="openLanguageModal()">
                <i class="page--footer-icons fas"
                   ng-class="('LANGUAGE' | translate) == 'it' ? 'fa-globe-europe' : 'fa-globe-americas'"></i>
            </button>
        </div>
        <div class="page--footer-column-right ellipsize">
            <button class="page--footer-button" ng-click="">
                <i class="far fa-user-circle page--footer-icons"></i> {{ 'NOT_LOGGED' | translate }}
            </button>
        </div>
    </div>

    <!-- Exit game modal -->
    <div class="modal" ng-show="exitGameModal">
        <div class="modal--content">
            <p>{{ 'MODAL_EXIT_DESC' | translate}}</p>
            <div class="modal--buttons-container">
                <button class="modal--button-secondary" ng-click="stopExitGame()">{{ 'UNDO' | translate }}</button>
                <button class="modal--button-primary" ng-click="continueExitGame()">{{ 'OK' | translate }}</button>
            </div>
        </div>
    </div>

    <!-- Force exit modal -->
    <div class="modal" ng-show="forceExitModal">
        <div class="modal--content">
            <p>{{forceExitText}}</p>
            <div class="modal--buttons-container">
                <button class="modal--button-primary" ng-click="continueForceExit()">{{ 'OK' | translate }}</button>
            </div>
        </div>
    </div>

    <!-- Language modal -->
    <div class="modal" ng-show="languageModal">
        <div class="modal--content">
            <p>{{ 'LANG_DESC' | translate }}</p>
            <ul class="list">
                <li class="list--simple-element">
                    <button class="modal--button-language" ng-click="changeLanguage('it')">
                        {{ 'LANG_ITALIAN' | translate }}
                    </button>
                </li>
                <li class="list--simple-element">
                    <button class="modal--button-language" ng-click="changeLanguage('en')">
                        {{ 'LANG_ENGLISH' | translate }}
                    </button>
                </li>
            </ul>
            <div class="modal--buttons-container">
                <button class="modal--button-primary" ng-click="closeLanguageModal()">{{ 'OK' | translate }}</button>
            </div>
        </div>
    </div>
</div>