<!-- Schermata principale dell'app. Contiene il menù principale di navigazione -->
<div id="wrapper">
  <div id="header-container">
    <h1 class="floating-component">CodyColor</h1>
  </div>
  
  <div id="page-body-container-home">    
    <ul>
      <li><a href="#!rules" class="menu-link">Come si gioca?</a></li>
      <li><a href="#!rmmaking" class="menu-link">1vs1 Casuale</a></li>
      <li><a href="#!pmmaking" class="menu-link">1vs1 Personalizzato</a></li>
      <li><a href="#!ranking" class="menu-link">Classifiche</a></li>
      <li><a href="#!profile" class="menu-link">Il tuo Profilo</a></li>
      <li><a href="#!login" class="menu-link">Accedi</a></li>
    </ul>
  </div>
  
  <div id="push"></div>
</div>

<div id="footer-container">
  <div id="footer-content"> 
    <i class="far fa-user-circle fa-2x icons"></i>Non loggato
    </div>
</div>
