<!-- Schermata principale dell'app. Contiene il menù principale di navigazione -->
<div id="home" class="page">
    <div class="page--wrapper">
        <div class="page--header">
            <h1 class="floating-up-animation ellipsize">CodyColor</h1>
        </div>

        <div class="page--body">
            <ul class="list">
                <li class="list--simple-element">
                    <button class="navigation--button" ng-click="goToRules()">Come si gioca?</button>
                </li>
                <li class="list--simple-element">
                    <button class="navigation--button" ng-click="goToRMMaking()">Partita casuale</button>
                </li>
                <li class="list--simple-element">
                    <button class="navigation--button" ng-click="goToPMMaking()">Partita custom</button>
                </li>
                <li class="list--simple-element">
                    <button class="navigation--button" ng-click="goToBootcamp()">Allenamento</button>
                </li>
                <li class="list--simple-element">
                    <button class="navigation--disabled-button">Classifiche</button>
                </li>
                <li class="list--spaced-element">
                    <button class="navigation--disabled-button">Accedi</button>
                </li>
                <li class="list--simple-element" ng-show="connected">
                    <div ng-class="(connected ? 'flashing-animation' : '')">{{totalMatches}} partite giocate dal lancio,
                        {{connectedPlayers}} giocator{{(connectedPlayers === '1'? 'e':'i')}}
                        collegat{{(connectedPlayers === '1'? 'o':'i')}} ora</div>
                </li>
                <li class="list--simple-element" ng-hide="connected">
                    <div ng-class="(!connected ? 'flashing-animation' : '')">Sei offline. Ritento la connessione al server...</div>
                </li>
            </ul>
        </div>

        <div class="page--push"></div>
    </div>

    <div class="page--footer">
        <div class="page--footer-column-left ellipsize">
            <button class="page--footer-button" ng-click="toggleBase()">
                <i class="page--footer-icons" ng-class="basePlaying ? 'fas fa-volume-up': 'fas fa-volume-mute'"></i>
            </button>
        </div>
        <div class="page--footer-column-right ellipsize">
            <button class="page--footer-button" ng-click="">
                <i class="far fa-user-circle page--footer-icons"></i>Non loggato
            </button>
        </div>
    </div>

    <!-- No connection modal -->
    <div class="modal" ng-show="noConnectionModal">
        <div class="modal--content">
            <p>Per utilizzare questa funzione devo connettermi al server. Controlla la tua connessione e riprova.</p>
            <div class="modal--buttons-container">
                <button class="modal--button-primary" ng-click="noConnectionModal = false">Ok</button>
            </div>
        </div>
    </div>
</div>