<div id="page-wrapper">
    <div id="wrapper--body">
        <form class="form-login">
            <ul class="list">
                <li class="list--simple-element">Due righe di indicazioni sul login,
                    lorem ipsum dolor sit amet, consectetur adipiscing; Due righe di indicazioni sul login,
                    lorem ipsum dolor sit amet, consectetur adipiscing.
                </li>
                <li class="list--simple-element">
                    <input type="email" id="inputEmail" placeholder="Email o nickname" required autofocus>
                </li>
                <li class="list--simple-element">
                    <input type="password" id="inputPassword" class="form-control"
                           placeholder="Password" required>
                </li>
                <li class="list--simple-element">
                    <button class="navigation--button" type="submit" ng-click="">Accedi</button>
                </li>
                <li class="list--simple-element">- Oppure -</li>
                <li class="list--simple-element">
                    <button class="navigation--button" ng-click="goToRegister()">Registrati</button>
                </li>
            </ul>
        </form>
    </div>

    <div id="page-push"></div>
</div>


<div id="page-footer-container">
    <div class="page--footer-column-left ellipsize">
        <button class="page--footer-button" ng-click="toggleBase()">
            <i class="page--footer-icons" ng-class="basePlaying ? 'fas fa-volume-up': 'fas fa-volume-mute'"></i>
        </button>
        <button class="page--footer-button" ng-click="goToHome()">
            <i class="fa fa-times page--footer-icons"></i>
        </button>
    </div>
    <div class="page--footer-column-right ellipsize">
        <button class="page--footer-button" ng-click="">
            <i class="far fa-user-circle page--footer-icons"></i>Non loggato
        </button>
    </div>
</div>