<div id="wrapper">
    <div id="page-body-container">
        <form class="form-login">
            <ul>
                <li>Due righe di indicazioni sul login,
                    lorem ipsum dolor sit amet, consectetur adipiscing; Due righe di indicazioni sul login,
                    lorem ipsum dolor sit amet, consectetur adipiscing.
                </li>
                <br/>
                <li><input type="email" id="inputEmail" placeholder="Email o nickname" required autofocus></li>
                <li><input type="password" id="inputPassword" class="form-control" placeholder="Password" required></li>
                <br/>
                <li>
                    <button type="submit">Accedi</button>
                </li>
                <li>- Oppure -</li>
                <li><a href="#!register" class="menu-link">Registrati</a></li>
            </ul>
        </form>
    </div>

    <div id="push"></div>
</div>

<div id="footer-container">
    <div id="footer-content">
        <div class="footer-component-left"><a href="#!home"><i class="fa fa-times fa-2x icons"></i></a></div>
        <div class="footer-component-right"><i class="far fa-user-circle fa-2x icons"></i>Non loggato</div>
    </div>
</div>