<div id="page-wrapper">
    <div id="wrapper--body">
        <form class="form-login">
            <ul>
                <li>Qua verranno visualizzati dati statistici, aggregati o non, solle partite svolte dagli utenti
                    (classifiche, storico partite ecc..).
                    Lorem ipsum dolor sit amet, consectetur adipiscing; Due righe di indicazioni sul login,
                    lorem ipsum dolor sit amet, consectetur adipiscing.
                </li>
            </ul>
        </form>
    </div>

    <div id="page-push"></div>
</div>


<div id="page-footer-container">
    <div class="page--footer-column-left ellipsize">
        <button class="page--footer-button" ng-click="toggleBase()">
            <i class="page--footer-icons" ng-class="basePlaying ? 'fas fa-volume-up': 'fas fa-volume-mute'"></i>
        </button>
        <button class="page--footer-button" ng-click="goToHome()">
            <i class="fa fa-times page--footer-icons"></i>
        </button>
    </div>
    <div class="page--footer-column-right ellipsize">
        <button class="page--footer-button" ng-click="">
            <i class="far fa-user-circle page--footer-icons"></i>Non loggato
        </button>
    </div>
</div>