<div id="wrapper">
  <div id="header-container">
    <h1>Registrati</h1> 
  </div>
  
  <div id="page-body-container">    
    <form class="form-signin">
    <ul>
      <li>Due righe di indicazioni varie sulla registrazione, 
          lorem ipsum dolor sit amet, consectetur adipiscing.</li>
      <br/>    
      <li><input type="email" id="inputEmail" placeholder="Email" required autofocus></li>
      <li><input type="text" id="inputEmail" placeholder="Nickname" required></li>
      <li><input type="password" id="inputPassword" class="form-control" placeholder="Password" required></li>
      <li><input type="password" id="inputPassword" class="form-control" placeholder="Ripeti la password" required></li>
      <br/>
      <li><button type="submit">Registra utente</button></li>
    </ul>
  </form>
  </div>
  
  <div id="push"></div>
</div>

<div id="footer-container">
  <div id="footer-content"> 
      <a href="#">Annulla</a>
      <p>Login effettuato come <strong>maldins46</strong>.</p>
</div>
