<div id="wrapper">
    <div id="page-body-container">
        <div id="nickname-selection" ng-show="mmakingState === 'nicknameSelection'" class="centered-component">
            <form name="nickForm">
                <ul class="menu-list">
                    <li class="menu-list-element">
                        Scegli il nickname con il quale apparire nella prossima partita; CodyColor provvederà a trovare
                        un avversario casuale tra quelli in attesa di giocare.
                    </li>
                    <li class="menu-list-element">
                        <input type="text" name="nickname" maxlength="22" ng-model="nickname" placeholder="Nickname"
                               required autofocus/>
                    </li>
                    <li class="menu-list-element">
                        <button class="menu-button flashing-component"
                                ng-click="requestMMaking(nickForm.nickname.$viewValue)"
                                ng-disabled="nickForm.nickname.$invalid">
                            Trova un avversario
                            <i class="fas fa-angle-double-right floating-right-component"></i>
                        </button>
                    </li>
                    <li class="menu-list-element">
                        <p class="flashing-component">Al momento, {{randomWaitingPlayers}}
                            giocator{{randomWaitingPlayers === '1' ? 'e è': 'i sono'}} in attesa di
                            un avversario</p>
                    </li>
                </ul>
            </form>
        </div>

        <div id="waiting-enemy" ng-show="mmakingState === 'waitingEnemy'" class="centered-component">
            <!-- Spinner -->
            <div class="lds-grid">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
            <p class="flashing-component">In attesa di un avversario…</p>
        </div>

        <div id="enemy-found" ng-show="mmakingState === 'enemyFound'" class="centered-component">
            Hai un nuovo avversario: <strong>{{enemyNickname}}</strong><br><br>
            <button class="menu-button flashing-component" ng-click="playerReady()">Iniziamo! <i
                    class="fas fa-angle-double-right floating-right-component"></i>
            </button>
        </div>

        <div id="waiting-confirm" ng-show="mmakingState === 'waitingConfirm'" class="centered-component">
            <!-- Spinner -->
            <div class="lds-grid">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
            <p class="flashing-component">Attendi che l'avversario confermi la sua partecipazione…</p>
        </div>

        <div class="chat-container-mmaking" ng-show="mmakingState === 'waitingConfirm' || mmakingState === 'enemyFound'">
        <div class="chat-bubbles-container">
            <div class="chat-bubbles-header">Chat</div>
            <div id="chat-bubbles-sub-container" ng-repeat="bubble in chatBubbles">
                <div class="chat-bubble-container">
                    <div ng-class="getBubbleStyle(bubble)">{{bubble.body}}</div>
                </div>
            </div>
        </div>

        <div class="chat-hint-container">
            <div class="chat-hint-header">Invia un messaggio all'avversario</div>
            <div id="chat-hints-sub-container" ng-repeat="hint in chatHints">
                <button class="chat-hint" ng-click="sendChatMessage(hint)">{{hint}}</button>
            </div>
        </div>
    </div>
    </div>
    <div id="push"></div>
</div>

<div id="footer-container">
    <div id="footer-content">
        <div class="footer-component-left">
            <i class="fas fa-sign-out-alt fa-2x footer-icons" ng-click="exitGame()"></i>
            <i class="fas fa-2x footer-icons" ng-class="basePlaying ?  'fa-volume-up' : 'fa-volume-mute'"
               ng-click="toggleBase()"></i>
        </div>
        <div class="footer-component-right"><i class="far fa-user-circle fa-2x footer-icons"></i>Non loggato</div>
    </div>
</div>


<div id="exitGameModal" class="modal-container" ng-show="exitGameModal">
    <div class="modal-content">
        <p>Sei sicuro di voler abbandonare la partita?</p>
        <div class="modal-button-container">
            <button class="modal-button-secondary" ng-click="stopExitGame()">Annulla</button>
            <button class="modal-button-primary" ng-click="continueExitGame()">Ok</button>
        </div>
    </div>
</div>

<div id="forceExitModal" class="modal-container" ng-show="forceExitModal">
    <div class="modal-content">
        <p>{{forceExitText}}</p>
        <div class="modal-button-container">
            <button class="modal-button-primary" ng-click="continueForceExit()">Ok</button>
        </div>
    </div>
</div>

