<div id="rules" class="page">
    <div class="page--wrapper">
        <div class="page--body">
            <p>
                CodyColor MultiPlayer è l'implementazione online del <a href="http://codemooc.org/codycolor/">
                metodo di coding unplugged CodyColor</a>.
                Esso permette agli utenti collegati di sfidarsi a coppie, lasciando che il gioco stesso selezioni in
                maniera casuale il proprio avversario, o creando delle partite custom alle quali è possibile
                invitare i propri amici.
            </p>
            <p>
                Una volta effettuato l'accesso alla partita, l'utente si trova di fronte una scacchiera
                colorata e un robottino (Roby). Ogni giocatore dovrà posizionare il proprio robottino, trascinandolo,
                in una delle posizioni di partenza (indicate dalle frecce ai bordi della scacchiera) entro il tempo
                limite. Una volta che entrambi i giocatori hanno posizionato il proprio robottino, questo inizierà a
                muoversi all'interno della scacchiera, prendendo una direzione differente a seconda del colore
                delle tessere:
            </p>
            <p>
                In corrispondenza delle tessere gialle, Roby si girerà di 90 gradi verso sinistra;
            </p>
            <p>
                In corrispondenza delle tessere rosse, di 90 gradi verso destra;
            </p>
            <p>
                In corrrispondenza delle tessere grigie, proseguirà diritto.
            </p>
            <p>
                Scopo del gioco è scegliere una posizione di partenza tale da far rimanere il proprio
                robottino all'interno della scacchiera il più a lungo possibile.
                Vince il giocatore che totalizza più punti fra i due a fine partita; punti che possono essere
                guadagnati effettuando un percorso più lungo possibile, o posizionando più velocemente
                dell'avversario il proprio robottino. In caso di pareggio assoluto, vince chi ha posizionato
                per primo il proprio Roby.
            </p>
            <p> Una volta terminata la partita, i giocatori possono
                decidere di effettuarne altre in sequenza.
            </p>
        </div>
        <div class="page--push"></div>
    </div>

    <!-- Footer module -->
    <div class="page--footer">
        <div class="page--footer-column-left ellipsize">
            <button class="page--footer-button" ng-click="toggleBase()">
                <i class="page--footer-icons" ng-class="basePlaying ? 'fas fa-volume-up': 'fas fa-volume-mute'"></i>
            </button>
            <button class="page--footer-button" ng-click="goToHome()">
                <i class="fa fa-times page--footer-icons"></i>
            </button>
        </div>
        <div class="page--footer-column-right ellipsize">
            <i class="far fa-user-circle page--footer-icons"></i> Non loggato
        </div>
    </div>
</div>