<div id="wrapper">
  <div id="header-container">
    <h1>Accedi</h1> 
  </div>
  
  <div id="page-body-container">    
    <form class="form-login">
       <ul>
         <li>
          <p>Questo gioco è basato sul concept CodyColor. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
          <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          <p>Questo gioco è basato sul concept CodyColor. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
          <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
         </li>
      </ul>
    </form>
  </div>
  <div id="push"></div>
</div>

<div id="footer-container">
  <div id="footer-content"> 
      <a href="#">Annulla</a>
      <p>Login effettuato come <strong>maldins46</strong>.</p>
</div>