<div id="wrapper">
    <div id="page-body-container">
        <form class="form-login">
            <ul>
                <li>
                    <p>
                        CodyColor MultiPlayer è l'implementazione online del <a href="http://codemooc.org/codycolor/">
                        metodo di coding unplugged CodyColor</a>.
                        Esso permette agli utenti collegati di sfidarsi a coppie, lasciando che il gioco stesso selezioni in
                        maniera casuale il proprio avversario, o creando delle partite custom alle quali è possibile
                        invitare i propri amici.
                    </p>
                    <p>
                        Una volta effettuato l'accesso alla partita, l'utente si trova di fronte una scacchiera
                        colorata e un robottino (Roby). Ogni giocatore dovrà posizionare il proprio robottino, trascinandolo,
                        in una delle posizioni di partenza (indicate dalle frecce ai bordi della scacchiera) entro il tempo
                        limite. Una volta che entrambi i giocatori hanno posizionato il proprio robottino, questo inizierà a
                        muoversi all'interno della scacchiera, prendendo una direzione differente a seconda del colore
                        delle tessere:
                    </p>
                    <p>
                        - In corrispondenza delle tessere gialle, Roby si girerà di 90 gradi verso sinistra;<br>
                        - In corrispondenza delle tessere rosse, di 90 gradi verso destra;<br>
                        - In corrrispondenza delle tessere grigie, proseguirà diritto.<br>
                    </p>
                    <p>
                        Scopo del gioco è scegliere una posizione di partenza tale da far rimanere il proprio
                        robottino all'interno della scacchiera il più a lungo possibile.
                        Vince il giocatore che effettua il percorso più lungo, o in caso di pareggio, che ha posizionato
                        per primo il proprio Roby.
                    </p>
                    <p> Una volta terminata la partita, i giocatori possono
                        decidere di effettuarne altre in sequenza.
                    </p>

                </li>
            </ul>
        </form>
    </div>
    <div id="push"></div>
</div>

<div id="footer-container">
    <div id="footer-content">
        <div class="footer-component-left">
            <i class="fa fa-times fa-2x footer-icons" ng-click="goToHome()"></i>
            <i class="fas fa-2x footer-icons" ng-class="basePlaying ?  'fa-volume-up' : 'fa-volume-mute'"
               ng-click="toggleBase()"></i>
        </div>
        <div class="footer-component-right"><i class="far fa-user-circle fa-2x footer-icons"></i>Non loggato</div>
    </div>
</div>