<!-- Schermata principale dell'app. Contiene il menù principale di navigazione -->
<a href="#!home" id="splash-link">
    <div id="wrapper-splash">
        <div id="body-splash">
            <img class="splash-logo floating-component" src="/img/roby-idle.png" alt="Game logo">
            <h1>CodyColor</h1>
            Un mini gioco multiplayer.
            <p class="splash-hint flashing-component">Premi in un punto qualunque dello schermo per continuare</p>
        </div>
        <div id="push-splash"></div>
    </div>

    <div id="footer-container-splash">
        <div id="footer-content-splash">
            Credits vari del gioco <br/>
            Sviluppato da Riccardo Maldini <br/>
            © Copyright Digit Srl 2019
        </div>
    </div>
</a>