/*! HTML5 Boilerplate v7.0.1 | MIT License | https://html5boilerplate.com/ */

/* main.css 1.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */


/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
  Author's custom styles
  ========================================================================== */

/* -------------------------------------------------------------------------
 * Tag di base
 * ------------------------------------------------------------------------- */

@font-face {
    font-family: 'Baloo Chettan';
    src: url('../fonts/baloo-chettan.ttf');
}


@font-face {
    font-family: 'Play';
    src: url('../fonts/play.ttf');
}

html, body {
    height: 100%;
    margin: 0;
    background-color: #0c0c1b;
    color: white;
    font-family: 'Play', sans-serif;
}

h1 {
    font-size: 60px;
    font-family: 'Baloo Chettan', cursive;
    margin: 0;
}

h2 {
    font-size: 30px;
    margin: 0;
}

a {
    color: White;
}

button {
    border: none;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
    border-radius: 8px;
    transition-duration: 0.2s;
    outline: none;
    -webkit-tap-highlight-color: Transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

button:hover {
    outline: none;
    -webkit-tap-highlight-color: Transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
}

input[type=text].standard-input, input[type=email].standard-input,
input[type=password].standard-input, input[type=number].standard-input {
    width: 100%;
    padding: 12px 20px;
    font-size: 20px;
    box-sizing: border-box;
    border-radius: 4px;
    text-align: center;
}

@media only screen and (min-width: 310px) {
    input[type=text].standard-input, input[type=email].standard-input,
    input[type=password].standard-input, input[type=number].standard-input {
        width: 280px;
    }
}

/* -------------------------------------------------------------------------
 * Modulo timepicker
 * ------------------------------------------------------------------------- */

.timepicker {
    display: flex;
    align-items: center;
    vertical-align: middle;
    flex-direction: row;
}

input[type=number].timepicker--text {
    width: auto;
    padding: 12px 20px;
    font-size: 20px;
    margin: 0 5px;
    box-sizing: border-box;
    border-radius: 4px;
}

@media only screen and (min-width: 310px) {
    input[type=number].timepicker--text {
        width: auto;
    }
}

/* -------------------------------------------------------------------------
 * Modulo profile: implementa la schermata profilo e alcuni suoi componenti
 * ------------------------------------------------------------------------- */
img.profile--image {
    border-radius: 50%;
    width: 100px;
    height: 100px
}

/* -------------------------------------------------------------------------
 * Modulo page: implementa lo scheletro di base comune a tutte le pagine,
 * oltre ad aggiungere eventuali personalizzazioni per determinate schermate
 * ------------------------------------------------------------------------- */

.page {
    text-align: center;
    height: 100%;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 100%;
}

@media only screen and (min-width: 768px) {
    .page {
        width: 700px;
    }
}

.page--container {
    height: 100%;
    text-align: center;
    width: 90%;
    margin: 0 auto;
}

.page--wrapper {
    min-height: 100%;
    margin-bottom: -60px;
}

/* la schermata splash presenta un footer più alto */
#splash .page--wrapper {
    min-height: 100%;
    margin-bottom: -120px;
}

.page--header {
    padding-top: 20px;
}

.page--body {
    padding-top: 20px;
    text-align: center;
}

#splash .page--body {
    padding-top: 80px;
    padding-bottom: 30px;
    width: 100%;
}

.page--component {
    margin: 0 auto;
    text-align: center;
}

/* Componenti con altezza fissa e componenti interni centrati verticalmente */
#enemy-found.page--component, #waiting-confirm.page--component {
    height: 140px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* contenitore della griglia di gioco, con altezza fissa e contenuto
 * absolute positioned (per permettere il drag 'n drop) */
#match-in-progress.page--component {
    height: 520px;
    width: 100%;
    position: relative;
}

#countdown.page--component {
    font-size: 60px;
    font-family: 'Baloo Chettan', cursive;
    margin: 40px -20px -20px -20px;
}

.page--push, .page--footer {
    height: 60px;
}

#splash .page--push, #splash .page--footer {
    height: 120px;
}

.page--footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.page--footer-icons {
    color: white;
    font-size: 28px;
    margin-right: 10px;
    vertical-align: middle;
    transition: 0.2ms;
}

.page--footer-button {
    color: white;
    padding: 0;
    min-width: 42px;
    background: transparent;
}

.page--footer-column-left {
    text-align: left;
    padding-left: 5px;
    display: inline-block;
}

.page--footer-column-right {
    float: right;
    text-align: right;
    flex-grow: 1;
    padding-right: 5px;
    box-sizing: border-box;
}

.page--footer-single-column {
    display: inline-block;
    text-align: center;
}


#bootcampmaking .page--body.ng-hide-remove {
    animation: fadein 0.2s both ease-in;
}

.page--component.ng-hide-remove {
    animation: fadein 0.2s both ease-in;
}

.page--component.ng-hide-add {
    animation: fadeout 0.2s both ease-in;
}

#arcade-match .page--component.ng-hide-remove,
#bootmp-match .page--component.ng-hide-remove,
#arcade-match .page--component.ng-hide-add,
#bootmp-match .page--component.ng-hide-add {
    animation: none;
}


/* -------------------------------------------------------------------------
 * Modulo list: implementa la struttura di base che permette di incolonnare
 * componenti secondo uno standard comune, con tre diverse opzioni di spaziatura
 * ------------------------------------------------------------------------- */

ul.list {
    padding: 0;
    margin: 0;
}

/* spaziatura piccola: standard */
li.list--simple-element {
    list-style-type: none;
    margin-bottom: 10px;
}

/* spaziatura più ampia */
li.list--spaced-element {
    list-style-type: none;
    margin-bottom: 20px;
}

/* spaziatura molto ampia */
li.list--super-spaced-element {
    list-style-type: none;
    margin-top: 30px;
    margin-bottom: 30px;
}

#aftermatch-options.list--spaced-element {
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


/* -------------------------------------------------------------------------
 * Modulo navigation: layout del button standard di navigazione tra le varie
 * schermate
 * ------------------------------------------------------------------------- */

button.navigation--button {
    background-color: Transparent;
    color: white;
    font-size: 30px;
    margin-bottom: 5px;
}

button.navigation--button:hover {
    color: #818387;
}

button.navigation--disabled-button {
    color: #66686c;
    background-color: Transparent;
    font-size: 30px;
    margin-bottom: 5px;
}

.navigation--icon-in-text {
    color: white;
    vertical-align: middle;
}


/* -------------------------------------------------------------------------
 * Modulo chat: comprende i componenti che permettono di instaurare una chat
 * tra due giocatori nelle schermate di matchmaking e aftermatch
 * ------------------------------------------------------------------------- */

.chat {
    margin: 20px auto 0 auto;
    overflow: auto;
}

#aftermatch .chat {
    margin: 0 auto;
}

.chat--hints-container, .chat--bubbles-container {
    width: 100%;
    height: 120px;
    margin: 10px 0;
    box-sizing: border-box;
    border-style: solid;
    border-width: 1px;
    border-radius: 8px;
    border-color: White;
    display: inline-block;
    background-color: rgba(255, 255, 255, 0.11);
    overflow: scroll;
}

@media only screen and (min-width: 716px) {
    .chat--hints-container, .chat--bubbles-container {
        width: 300px;
        margin: 10px;
    }
}

.chat--hints-container {
    padding: 10px 10px 0 10px;
}

.chat--bubbles-container {
    padding: 10px 0;
}

.chat--bubbles-sub-container, .chat--hints-sub-container {
    width: 100%;
    box-sizing: border-box;
}

button.chat--hint {
    margin: 10px;
    float: left;
    padding: 10px;
    background-color: white;
    box-sizing: border-box;
    overflow: hidden;
    white-space: nowrap;
}

button.chat--hint:hover {
    background-color: #818387;
}

.chat--bubble-row {
    overflow: auto;
    margin: 10px auto 0 auto;
}

.chat--bubble-player, .chat--bubble-enemy {
    display: inline-block;
    max-width: 180px;
    box-sizing: border-box;
    margin: 0;
    border-radius: 8px;
    color: white;
    padding: 10px 20px;
    position: relative;
}

.chat--bubble-sender {
    box-sizing: border-box;
    font-size: small;
    text-align: inherit;
}

.chat--bubble-player {
    float: left;
    text-align: left;
    margin-left: 20px;
    background-color: #48af9b;
}

.chat--bubble-enemy {
    float: right;
    text-align: right;
    margin-right: 20px;
    background-color: #ba793a;
}

.chat--bubble-enemy:before {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    border-left: 15px solid #ba793a;
    border-right: 15px solid transparent;
    border-top: 15px solid #ba793a;
    border-bottom: 15px solid transparent;
    right: -16px;
    top: 0;
}

.chat--bubble-player:before {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    border-left: 15px solid transparent;
    border-right: 15px solid #48af9b;
    border-top: 15px solid #48af9b;
    border-bottom: 15px solid transparent;
    left: -16px;
    top: 0;
}


.chat.ng-hide-remove {
    animation: fadein 0.2s both ease-in;
}

.chat.ng-hide-add {
    animation: fadeout 0.2s both ease-in;
}



/* -------------------------------------------------------------------------
 * Modulo modal: implementa un dialog modale per mostrare in sovrimpressione
 * messaggi di errore o possibilità di scelta per l'utente
 * ------------------------------------------------------------------------- */

.modal {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.modal--content {
    background-color: #ffffff;
    color: Black;
    padding: 20px;
    font-size: 20px;
    border-radius: 8px;
    width: 80%;
    box-sizing: border-box;
}

@media only screen and (min-width: 780px) {
    .modal--content {
        width: 40%;
    }
}

.modal--buttons-container {
    text-align: right;
    padding-top: 10px;
}

button.modal--button-language {
    color: black;
    background-color: Transparent;
    font-size: 30px;
    margin-bottom: 5px;
}


button.modal--button-language:hover {
    background-color: rgba(85, 113, 233, 0.11);
}

button.modal--button-primary, button.modal--button-secondary {
    margin-left: 5px;
    padding: 10px 20px;
}

button.modal--button-primary {
    color: White;
    background-color: #bc241c;
}

button.modal--button-primary:hover {
    background-color: #bf4a44;
}

button.modal--button-secondary {
    color: Black;
    background-color: Transparent;
}

button.modal--button-secondary:hover {
    background-color: rgba(85, 113, 233, 0.11);
}

.modal.ng-hide-remove {
    animation: fadein 0.2s both ease-in;
}

.modal.ng-hide-add {
    animation: fadeout 0.2s both ease-in;
}



/* -------------------------------------------------------------------------
 * Modulo ranktitle: implementa un contenitore con un testo al suo interno,
 * con due button ai lati utilizzabile come titolo scrollabile nella
 * schermata rankings
 * ------------------------------------------------------------------------- */

.ranktitle {
    display: flex;
    margin: 0 auto;
    flex-direction: row;
}

.ranktitle--button {
    width: 50px;
    text-align: center;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    float: left;
    margin: 0;
    border-radius: 50%;
    transition-duration: 0.2s;
    background-color: transparent;
}

.ranktitle--button:hover {
    transition-duration: 0.2s;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.09);
}

.ranktitle--text {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    float: left;
    flex-grow: 1;
}

.ranksubtitle {
    margin: 20px 0 30px 0;
}


/* -------------------------------------------------------------------------
 * Modulo selector: implementa un contenitore con un testo al suo interno,
 * con due button ai lati che permettono di modificarne il contenuto
 * ------------------------------------------------------------------------- */

.selector {
    height: 50px;
    border-style: solid;
    border-width: 1px;
    border-radius: 4px;
    border-color: White;
    display: flex;
    margin: 0 auto;
    flex-direction: row;
}

@media only screen and (min-width: 310px) {
    .selector {
        width: 280px;
    }
}

.selector--button {
    width: 50px;
    height: 100%;
    text-align: center;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    float: left;
    margin: 0;
    transition-duration: 0.2s;
    background-color: transparent;
}

.selector--button:hover {
    transition-duration: 0.2s;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.09);
}

.selector--text {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    float: left;
    flex-grow: 1;
    border-left: solid 1px;
    border-right: solid 1px;
    border-color: White;
}


/* -------------------------------------------------------------------------
 * Modulo copyable: implementa due contenitori contenenti un testo, che
 * reagiscono al click mostrando una notifica di testo copiato negli appunti
 * ------------------------------------------------------------------------- */


.copyable--container {
    margin: 0 auto;
    overflow: auto;
}

.copyable {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    box-sizing: border-box;
    border-style: solid;
    border-width: 1px;
    border-radius: 8px;
    border-color: White;
    display: inline-block;
    background-color: rgba(255, 255, 255, 0.11);
    overflow: scroll;
    transition-duration: 0.2s;
}

@media only screen and (min-width: 716px) {
    .copyable {
        width: 300px;
        margin: 10px;
    }
}

.copyable:hover {
    transition-duration: 0.2s;
    background-color: rgba(255, 255, 255, 0.20);
}


.copyable--big-text {
    border: none;
    color: White;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
}

.copyable--small-text {
    border: none;
    color: White;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    word-wrap: break-word;
}

.copyable--copy-text {
    color: white;
    font-size: small;
    vertical-align: middle;
    margin-top: 5px;
}

.copyable--copy-icon {
    color: white;
    font-size: small;
    margin-right: 5px;
    vertical-align: middle;
}


/* -------------------------------------------------------------------------
 * Modulo centered-columns: fornisce un contenitore che contiene due colonne
 * parallele tra loro, con contenuto centrato al loro interno
 * ------------------------------------------------------------------------- */

.centered-columns {
    margin: 0 auto 20px auto;
    font-size: 20px;
}

.centered-columns--pair {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.centered-columns--column {
    width: 50%;
    text-align: center;
}

.centered-columns--column-big {
    width: 65%;
    text-align: center;
}


.centered-columns--column-small {
    width: 25%;
    box-sizing: border-box;
    text-align: center;
    padding-left: 10px;
}


/* -------------------------------------------------------------------------
 * Modulo timer: struttura di base dei vari timer di gioco: scritta bianca
 * in caso di scorrimento normale, rossa in caso di timer fermo
 * ------------------------------------------------------------------------- */

.timer--normal, .timer--stop {
    margin-right: 5px;
    vertical-align: middle;
}

.timer--normal, .timer--normal-no-margin  {
    color: white;
}

.timer--stop, .timer--stop-no-margin {
    color: red;
}


/* -------------------------------------------------------------------------
 * Modulo playground: implementa il campo da gioco, ovvero la griglia con
 * le tiles colorate, e i vari componenti collegati
 * ------------------------------------------------------------------------- */

.playground {
    width: 100%;
    height: 280px;
    margin: 0 auto;
    padding-bottom: 20px;
    position: relative;
}

@media only screen and (min-width: 320px) {
    .playground {
        width: 280px;
    }
}

.playground--arrow {
    max-height: 90%;
    max-width: 90%;
    margin: 0 auto;
    color: white;
}

.playground--arrow-over {
    max-height: 90%;
    max-width: 90%;
    margin: 0 auto;
    color: yellow;
}

.playground--table {
    width: 100%;
    table-layout: fixed;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    margin: 0 auto;
}

@media only screen and (min-width: 320px) {
    .playground--table {
        width: 280px;
    }
}

.playground--tile-placeholder, .playground--tile-red,
.playground--tile-yellow, .playground--tile-gray {
    width: 100%;
    padding-bottom: 100%;
    border-radius: 4px;
}

.playground--tile-red {
    background-color: #bc241c;
}

.playground--tile-yellow {
    background-color: #efd10b;
}

.playground--tile-gray {
    background-color: #bababa;
}


/* -------------------------------------------------------------------------
 * Modulo stats: implementa il contenitore che mostra le statistiche
 * di fine partita
 * ------------------------------------------------------------------------- */

.stats {
    width: 100%;
    box-sizing: border-box;
    border-style: solid;
    border-width: 1px;
    border-radius: 8px;
    border-color: White;
    display: inline-block;
    background-color: rgba(255, 255, 255, 0.11);
    padding: 10px;
    overflow: auto;
}

@media only screen and (min-width: 716px) {
    .stats {
        width: 620px;
    }
}

.stats--header {
    margin: 0 0 15px 0;
}

.stats--line {
    margin: 10px 0 0 0;
}

.stats--player-text {
    color: #48af9b;
}

.stats--enemy-text {
    color: #ba793a;
}


/* -------------------------------------------------------------------------
 * Modulo playerlist: implementa il contenitore che mostra i giocatori
 * collegati a una partita in modalità tutti contro tutti
 * ------------------------------------------------------------------------- */

.playerlist {
    width: 100%;
    height: 120px;
    margin: 10px 0;
    box-sizing: border-box;
    border-style: solid;
    border-width: 1px;
    border-radius: 8px;
    border-color: White;
    display: inline-block;
    background-color: rgba(255, 255, 255, 0.11);
    overflow: scroll;
    padding: 10px 0;
}

@media only screen and (min-width: 716px) {
    .playerlist {
        width: 620px;
    }
}

.playerlist--header {
    margin: 0 0 15px 0;
    text-align: center;
}


.playerlist--sub-container {
    width: 100%;
    box-sizing: border-box;
}

.playerlist--line {
    margin: 10px 0 0 0;
}


/*
 * Playerlist royale match
 */
.playerlist-match {
    width: 100%;
    height: 120px;
    box-sizing: border-box;
    border-style: solid;
    border-width: 1px;
    border-radius: 8px;
    border-color: White;
    text-align: center;
    display: inline-block;
    background-color: rgba(255, 255, 255, 0.11);
    overflow-y: scroll;
}

table.playerlist-match-table {
    overflow-x: auto;
    margin-left: auto;
    margin-right: auto;
}

.playerlist-match-table td:nth-child(n) {
    white-space: nowrap;
    max-width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0 5px;
}

.playerlist-match-table th:nth-child(n) {
    white-space: nowrap;
    width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0 5px;
}

.text-align-left {
    text-align: left;
}


/* -------------------------------------------------------------------------
 * Modulo loading-spinner: implementa una schermata statica di caricamento
 * ------------------------------------------------------------------------- */

.loading-spinner {
    margin-top: 20px;
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px;
}

.loading-spinner div {
    position: absolute;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: #fff;
    animation: loading-spinner 1.2s linear infinite;
}

.loading-spinner div:nth-child(1) {
    top: 6px;
    left: 6px;
    animation-delay: 0s;
}

.loading-spinner div:nth-child(2) {
    top: 6px;
    left: 26px;
    animation-delay: -0.4s;
}

.loading-spinner div:nth-child(3) {
    top: 6px;
    left: 45px;
    animation-delay: -0.8s;
}

.loading-spinner div:nth-child(4) {
    top: 26px;
    left: 6px;
    animation-delay: -0.4s;
}

.loading-spinner div:nth-child(5) {
    top: 26px;
    left: 26px;
    animation-delay: -0.8s;
}

.loading-spinner div:nth-child(6) {
    top: 26px;
    left: 45px;
    animation-delay: -1.2s;
}

.loading-spinner div:nth-child(7) {
    top: 45px;
    left: 6px;
    animation-delay: -0.8s;
}

.loading-spinner div:nth-child(8) {
    top: 45px;
    left: 26px;
    animation-delay: -1.2s;
}

.loading-spinner div:nth-child(9) {
    top: 45px;
    left: 45px;
    animation-delay: -1.6s;
}

@keyframes loading-spinner {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
}


/* -------------------------------------------------------------------------
 * Moduli singoli e-o funzionalità applicabili 'out-of-the-box' ad altri moduli
 * ------------------------------------------------------------------------- */

/* Aggiunge tre puntini al termine delle linea di testo, in caso di overflow*/
.ellipsize {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* centra un div all'interno di un contenitore */
.centered-container {
    margin: 0 auto;
    text-align: center;
}

/* trasforma la prima lettera in maiuscola */
.capitalize:first-letter {
    text-transform: capitalize;
}

/* testo grande nello stile di h1, ma con bordi ridotti */
.big-text {
    font-size: 60px;
    font-family: 'Baloo Chettan', cursive;
    margin: -20px;
}

/* formatta un'immagine di grandi dimensioni, come il logo della splash screen */
.big-image {
    width: 100px;
    height: 100px;
}

/* formatta ul testo 'press to continue' della splash screen */
.press-to-continue {
    margin: 50px 10% 0 10%;
    color: white;
}

/* proprietà del Roby trascinabile della schermata di gioco */
.roby-draggable {
    width: 100px;
    height: 100px;
    max-width: 100px;
    max-height: 100px;
}

/* proprietà dei Roby che si muovono nella griglia */
.roby-automove {
    width: 36px;
    height: 36px;
    position: absolute;
    left: 0;
    top: 0;
}

.roby-automove-container {
    position: absolute;
    left: 0;
    top: 0;
}


/* -------------------------------------------------------------------------
 * Animazioni ed effetti
 * ------------------------------------------------------------------------- */

.floating-up-animation {
    transform: translateX(0px);
    animation: float-top 4s ease-in-out infinite;
}

@keyframes float-top {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0px);
    }
}

.floating-right-animation {
    transform: translateY(0px);
    animation: float-right 4s ease-in-out infinite;
}

@keyframes float-right {
    0% {
        transform: translateX(0px);
    }
    50% {
        transform: translateX(10px);
    }
    100% {
        transform: translateY(0px);
    }
}

.floating-left-animation {
    transform: translateX(0px);
    animation: float-left 4s ease-in-out infinite;
}

@keyframes float-left {
    0% {
        transform: translateX(0px);
    }
    50% {
        transform: translateX(-10px);
    }
    100% {
        transform: translateY(0px);
    }
}

.floating-down-animation {
    transform: translateY(0px);
    animation: float-bottom 4s ease-in-out infinite;
}

@keyframes float-bottom {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(10px);
    }
    100% {
        transform: translateY(0px);
    }
}

.flashing-animation {
    animation: flash 2s ease-in-out infinite;
}

@keyframes flash {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.4;
    }
    100% {
        opacity: 1;
    }
}


/* -------------------------------------------------------------------------
 * Implementa il modulo AngularJS 'ng-animate', e le animazioni collegate
 * ------------------------------------------------------------------------- */

.ng-enter {
    animation: fadein 0.2s both ease-in;
    animation-delay: 0.2s;
}

.ng-leave {
    animation: fadeout 0.2s ease-in;
}


@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeout {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}


/* ==========================================================================
  Helper classes
  ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
* Hide only visually, but have it available for screen readers:
* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*
* 1. For long content, line feeds are not interpreted as spaces and small width
*    causes content to wrap 1 word per line:
*    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
*/

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
* Extends the .visuallyhidden class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638
*/

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
* Hide visually and from screen readers, but maintain layout
*/

.invisible {
    visibility: hidden;
}

/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}


/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 1.25dppx),
(min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}


/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster */
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */
    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}


