<div id="404" class="page">
    <div class="page--wrapper">
        <h1>404</h1>
        <h2>Page not found.</h2>
        <div class="page--push"></div>
    </div>

    <div class="page--footer">
        <div class="page--footer-column-left ellipsize">
            <button class="page--footer-button" ng-click="toggleBase()">
                <i class="page--footer-icons" ng-class="basePlaying ? 'fas fa-volume-up': 'fas fa-volume-mute'"></i>
            </button>
            <button class="page--footer-button" ng-click="goToHome()">
                <i class="fa fa-times page--footer-icons"></i>
            </button>
        </div>
        <div class="page--footer-column-right ellipsize">
            <button class="page--footer-button" ng-click="">
                <i class="far fa-user-circle page--footer-icons"></i> Non loggato
            </button>
        </div>
    </div>
</div>