<div id="newcmatch" class="page">
    <div class="page--wrapper">
        <div class="page--body">
            <!-- Create match -->
            <div ng-show="mmakingState === 'createMatch'" class="page--component">
                <form name="customMatchForm">
                    <ul class="list">
                        <li class="list--spaced-element">
                            Scegli il nickname con il quale apparire all'avversario, e le varie opzioni di
                            gioco. CodyColor genererà una nuova partita privata alla quale potrai invitare un tuo amico.
                        </li>

                        <li class="list--spaced-element">
                            <input type="text" name="nickname" maxlength="22" ng-model="nickname"
                                   placeholder="Nickname" required autofocus/>
                        </li>
                        <li class="list--simple-element">
                            Durata partita
                        </li>
                        <li class="list--spaced-element">
                            <div class="selector">
                                <div class="selector--button" ng-click="decrementTime()">
                                    <i class="fas fa-minus"></i>
                                </div>
                                <div class="selector--text">{{timerSettings[currentIndex].text}}</div>
                                <div class="selector--button" ng-click="incrementTime()">
                                    <i class="fas fa-plus"></i>
                                </div>
                            </div>
                        </li>
                        <li class="list--spaced-element">
                            <button class="navigation--button flashing-animation" type="submit"
                                    ng-click="requestMMaking(customMatchForm.nickname.$viewValue)"
                                    ng-disabled="customMatchForm.nickname.$invalid">
                                Genera partita
                                <i class="fas fa-angle-double-right navigation--icon-in-text floating-right-animation"></i>
                            </button>
                        </li>
                        <li class="list--spaced-element" ng-show="creatingMatch">
                            <div class="flashing-animation">Preparando la partita…</div>
                        </li>
                    </ul>
                </form>
            </div>

            <!-- Enemy invitation -->
            <div ng-show="mmakingState === 'enemyInvitation'" class="page--component">
                <ul class="list">
                    <li class="list--spaced-element">
                        La tua partita è pronta! Puoi invitare l'avversario inviandogli il codice sottostante, da
                        inserire nella schermata "partita custom" del gioco. Premi il codice per copiarlo negli appunti.
                    </li>

                    <li class="list--spaced-element">
                        <div class="copyable" ng-click="copyCode()">
                            <div class="copyable--big-text">{{gameCode}}</div>
                            <div class="copyable--copy-text" ng-show="codeCopied">
                                <i class="far fa-copy copyable--copy-icon"></i> Codice copiato negli appunti!
                            </div>
                        </div>
                    </li>

                    <li class="list--spaced-element">
                        In alternativa, puoi inviare l'avversario tramite il seguente link. Basterà accedervi per
                        entrare nella partita. Premi il link per copiarlo negli appunti.
                    </li>

                    <li class="list--spaced-element">
                        <div class="copyable" ng-click="copyLink()">
                            <div class="copyable--small-text">https://codycolor.codemooc.net/#!?match={{gameCode}}</div>
                            <div class="copyable--copy-text" ng-show="linkCopied">
                                <i class="far fa-copy copyable--copy-icon"></i> Link copiato negli appunti!
                            </div>
                        </div>
                    </li>

                    <li class="list--spaced-element">
                        <div class="flashing-animation">Attendi che l'avversario confermi la sua partecipazione…</div>
                    </li>
                </ul>
            </div>

            <!-- Enemy found -->
            <div id="enemy-found" ng-show="mmakingState === 'enemyFound'" class="page--component">
                <ul class="list">
                    <li class="list--spaced-element">
                        Hai un nuovo avversario: <strong>{{enemyNickname}}</strong>
                    </li>
                    <li class="list--simple-element">
                        <button class="navigation--button flashing-animation" ng-click="playerReady()">
                            Iniziamo! <i class="fas fa-angle-double-right floating-right-animation"></i>
                        </button>
                    </li>
                </ul>
            </div>

            <!-- Waiting confirm -->
            <div id="waiting-confirm" ng-show="mmakingState === 'waitingConfirm'" class="page--component">
                <ul class="list">
                    <li class="list--spaced-element">
                        <div class="loading-spinner">
                            <div></div><div></div><div></div>
                            <div></div><div></div><div></div>
                            <div></div><div></div><div></div>
                        </div>
                    </li>
                    <li class="list--spaced-element">
                        <div class="flashing-animation">Attendi che l'avversario confermi la sua partecipazione…</div>
                    </li>
                </ul>
            </div>

            <!-- Chat module -->
            <div class="chat" ng-show="mmakingState === 'waitingConfirm' || mmakingState === 'enemyFound'">
                <div class="chat--bubbles-container">
                    Chat
                    <div class="chat--bubbles-sub-container" ng-repeat="bubble in chatBubbles">
                        <div class="chat--bubble-row">
                            <div ng-class="getBubbleStyle(bubble)">{{bubble.body}}</div>
                        </div>
                    </div>
                </div>
                <div class="chat--hints-container">
                    Invia un messaggio all'avversario
                    <div class="chat--hints-sub-container" ng-repeat="hint in chatHints">
                        <button class="chat--hint" ng-click="sendChatMessage(hint)">{{hint}}</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Push module -->
        <div class="page--push"></div>
    </div>

    <!-- Footer module -->
    <div class="page--footer">
        <div class="page--footer-column-left ellipsize">
            <button class="page--footer-button" ng-click="toggleBase()">
                <i class="page--footer-icons" ng-class="basePlaying ? 'fas fa-volume-up': 'fas fa-volume-mute'"></i>
            </button>
            <button class="page--footer-button" ng-click="exitGame()">
                <i class="fa fa-sign-out-alt page--footer-icons"></i>
            </button>
        </div>
        <div class="page--footer-column-right ellipsize">
            <i class="far fa-user-circle page--footer-icons"></i> Non loggato
        </div>
    </div>

    <!-- Exit game modal -->
    <div class="modal" ng-show="exitGameModal">
        <div class="modal--content">
            <p>Sei sicuro di voler abbandonare la partita?</p>
            <div class="modal--buttons-container">
                <button class="modal--button-secondary" ng-click="stopExitGame()">Annulla</button>
                <button class="modal--button-primary" ng-click="continueExitGame()">Ok</button>
            </div>
        </div>
    </div>

    <!-- Force exit modal -->
    <div class="modal" ng-show="forceExitModal">
        <div class="modal--content">
            <p>{{forceExitText}}</p>
            <div class="modal--buttons-container">
                <button class="modal--button-primary" ng-click="continueForceExit()">Ok</button>
            </div>
        </div>
    </div>
</div>