<div id="custom-mmaking" class="page">
    <div class="page--wrapper">
        <div class="page--body">
            <!-- Waiting for connection and match request -->
            <div ng-show="mmakingState === screens.waiting" class="page--component">
                Waiting for connection and match request...
            </div>

            <!-- match ready, show qr -->
            <div ng-show="mmakingState === screens.matchReady" class="page--component">
                <ul class="list">
                    <li class="list--simple-element">
                        Descrizione
                    </li>

                    <li class="list--simple-element">
                        <qr text="matchUrl"></qr>
                    </li>

                    <li class="list--simple-element">
                        {{ matchUrl }}
                    </li>
                </ul>
            </div>

            <!-- enemy ready, describe what to do -->
            <div ng-show="mmakingState === screens.enemyReady" class="page--component">
                <ul class="list">
                    <li class="list--simple-element">
                        Descrizione
                    </li>

                    <li class="list--simple-element">
                        Nome enemy
                    </li>

                    <li class="list--simple-element">
                        Chat
                    </li>
                </ul>
            </div>
        </div>
        <div class="page--push"></div>
    </div>

    <!-- Footer module -->
    <div class="page--footer">
        <div class="page--footer-column-left ellipsize">
            <button class="page--footer-button" ng-click="toggleBase()">
                <i class="page--footer-icons" ng-class="basePlaying ? 'fas fa-volume-up': 'fas fa-volume-mute'"></i>
            </button>
            <button class="page--footer-button" ng-click="openLanguageModal()">
                <i class="page--footer-icons fas"
                   ng-class="('LANGUAGE' | translate) == 'it' ? 'fa-globe-europe' : 'fa-globe-americas'"></i>
            </button>
        </div>
        <div class="page--footer-column-right ellipsize">
        </div>
    </div>
</div>