<div id="404" class="page">
    <div class="page--wrapper">
        <div class="page--body">
            <ul class="list">
                <li class="list--spaced-element"><h2 translate="TERMS_TITLE"></h2></li>
                <li class="list--simple-element"> <span translate="TERMS_SUBTITLE"></span></li>
                <li class="list--simple-element"> <span translate="TERMS_TEXT"></span></li>
            </ul>
        </div>
        <div class="page--push"></div>
    </div>

    <div class="page--footer">
        <div class="page--footer-column-left ellipsize">
            <button class="page--footer-button" ng-click="goToHome()">
                <i class="fa  fa-times page--footer-icons"></i>
            </button>
            <button class="page--footer-button" ng-click="toggleBase()">
                <i class="page--footer-icons" ng-class="basePlaying ? 'fas fa-volume-up': 'fas fa-volume-mute'"></i>
            </button>
            <button class="page--footer-button" ng-click="openLanguageModal()">
                <i class="page--footer-icons fas"
                   ng-class="('LANGUAGE' | translate) == 'it' ? 'fa-globe-europe' : 'fa-globe-americas'"></i>
            </button>
        </div>
        <div class="page--footer-column-right ellipsize">
            <button class="page--footer-button" ng-click="">
                <span class="ellipsize">
                    <i ng-class="userLogged ? 'fas fa-user-circle': 'far fa-user-circle'"
                       class="page--footer-icons"></i> {{ userNickname }}
                </span>
            </button>
        </div>
    </div>

    <!-- Language modal -->
    <div class="modal" ng-show="languageModal">
        <div class="modal--content">
            <p>{{ 'LANG_DESC' | translate }}</p>
            <ul class="list">
                <li class="list--simple-element">
                    <button class="modal--button-language" ng-click="changeLanguage('it')">
                        {{ 'LANG_ITALIAN' | translate }}
                    </button>
                </li>
                <li class="list--simple-element">
                    <button class="modal--button-language" ng-click="changeLanguage('en')">
                        {{ 'LANG_ENGLISH' | translate }}
                    </button>
                </li>
                <li class="list--simple-element">
                    <button class="modal--button-language" ng-click="changeLanguage('hu')">
                        {{ 'LANG_HUNGARIAN' | translate }}
                    </button>
                </li>
            </ul>
            <div class="modal--buttons-container">
                <button class="modal--button-primary" ng-click="closeLanguageModal()">{{ 'OK' | translate }}</button>
            </div>
        </div>
    </div>
</div>